<div class="b-example-divider"></div>

<div class="row">



    <div class="col-6 container my-4 px-5">

        <h2>Contacto</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit iste amet quae mollitia aut, recusandae, ex
            suscipit sit facere voluptates enim necessitatibus fuga hic delectus corrupti dignissimos? Nesciunt, numquam
            neque?</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia possimus, ipsam doloribus harum cupiditate sunt, quibusdam, quis similique.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam amet distinctio sapiente, minima.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis qui soluta hic, incidunt</li>
                </ul>
        
    </div>



    <div class="col-6 container my-4 p-4">
        <div class="form-group">

            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Direccíon de email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="ejemplo@ejemplo.com">
                <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu dirección de email con
                    nadie.</small>
            </div>

            <div class="form-group">
                <label class="col-form-label mt-2" for="inputDefault">Asunto</label>
                <input type="text" class="form-control" placeholder="Ejemplo de asunto" id="inputDefault">
            </div>

            <div class="form-group">
                <label class="label mt-4" for="consulta">Consulta</label>
                <textarea class="form-control" placeholder="Ingrese aquí su consulta" id="consulta"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Enviar</button>
        </div>
    </div>

</div>