{{!-- 

AGREGAR FORMULARIO DE CONTACTO
AGREGAR LINK DIRECTO A WHATSAPP

--}}


<section>
    <div id="myCarousel" class="carousel slide pointer-event mb-0" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"
                aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                class=""></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('./images/1.webp')">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>SERVICIOS</h1>
                        <p>Brindamos un Asesoramiento Impositivo Integral.Inscripciones AFIP, Inscripciones Rentas, y más.</p>
                        <p><a class="btn btn-primary" href="/servicios">Ver más</a></p>
                    </div>
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('./images/2.webp')">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Quienes somos?</h1>
                        <p>La consultoria tiene como objetivo brindar a sus clientes un "Servicio Profesional" ajustado a las necesidades de cada empresa/cliente.</p>
                        <p><a class="btn btn-primary" href="/nosotros">Ver más</a></p>
                    </div>
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('./images/3.webp')">
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>TIENE UNA CONSULTA?</h1>
                        <p>Si necesita un asesoramiento integral para su actividad economica, por favor ponganse en contacto con nosotros</p>
                        <p><a class="btn btn-primary" href="/contacto">Ver más</a></p>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
</section>

<div class="b-example-divider"></div>

<section class="container my-4">
    <h3 class="banner-title mb-4">BIENVENIDOS A CONSULTORIA CONTABLE JOSE MARMOL</h3>
    <p>

        Somos un Estudio dedicado a brindar asesoramiento integral y personalizado a nuestros clientes en materia
        impositiva, contable, laboral y societaria.

        Asimismo brindamos servicios de outsourcing, consultoría, asesoramiento a empleados en relación de dependencia y
        servicios para consorcios.

        Lo invitamos a conocer nuestro sitio Web. Nuestra intención como Contadores Públicos, es brindarle un servicio
        de alto nivel profesional, ofrecerle soluciones concretas a sus necesidades y acompañarlo en su crecimiento</p>
</section>

<div class="b-example-divider"></div>

<section class="container my-4">

    <h3>OFRECEMOS UNA VARIADA GAMA DE SERVICIOS PARA USTED</h3>

    <div class="row d-flex justify-content-evenly">
        <div class="card border-primary my-3" style="max-width: 20rem;">
            <div class="card-header">IMPOSITIVOS</div>
            <div class="card-body">
                <ul>
                    <li>Liquidación mensual y anual de impuestos</li>
                    <li>Asesoramiento a Monotributistas</li>
                    <li>Regímenes de Información y Retención</li>
                    <li>Tramitación de inscripciones</li>
                </ul>
            </div>
        </div>
        <div class="card border-primary my-3 mx-1" style="max-width: 20rem;">
            <div class="card-header">LIQUIDACIÓN DE SUELDOS</div>
            <div class="card-body">
                <ul>
                    <li>Liquidación de sueldos y jornales</li>
                    <li>DDJJ AFIP (F931) y boletas sindicales</li>
                    <li>Altas y bajas de empleados</li>
                    <li>Asesoramiento proactivo de los CCT</li>
                </ul>
            </div>
        </div>
        <div class="card border-primary my-3 mx-1" style="max-width: 20rem;">
            <div class="card-header">CONTABLES</div>
            <div class="card-body">
                <ul>
                    <li>Preparación de Estados Contables</li>
                    <li>Informes y Certificaciones contables</li>
                    <li>Auditoría de Estados Contables</li>
                    <li>Análisis y proyección de Estados Contables</li>
                </ul>
            </div>
        </div>
        <div class="card border-primary my-3 mx-1" style="max-width: 20rem;">
            <div class="card-header">SOCIETARIOS</div>
            <div class="card-body">
                <ul>
                    <li>Encuadre societario para su proyecto</li>
                    <li>Constitución de Sociedades</li>
                    <li>Modificaciones de Capital Social</li>
                    <li>Transformación de sociedades</li>
                </ul>
            </div>
        </div>
    </div>

</section>