<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body>

  <header class="container-fluid p-0">
    <div class="container d-flex my-2 align-items-center">
      <div class="container">
        <h5>Consultoria Contable</h5>
        <h5>Jose Marmol</h5>
      </div>
      <div class="container">
        <h5>Direccion 1234, Jose Marmol, Buenos Aires</h5>
        <h5><i class="fas fa-mobile-alt"></i> / <a href="https://api.whatsapp.com/send?phone=5491121834859"><i class="fab fa-whatsapp">: 11-2183-4859</i></a> Lun a Vier 9:00hs a 17:00hs</h5>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">C.C.J.M</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto d-flex justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="/">Inicio
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/servicios">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacto">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nosotros">Nosotros</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  {{{body}}}

  <div class="b-example-divider"></div>

  <footer id="footer">
    <div class="container px-4">
      <div class="row gx-5">
        <ul class="col">
          <li class="float-end"><a href="#top">Back to top</a></li>
          <li><a href="https://www.facebook.com/">Facebook</a></li>
          <li><a href="https://www.instagram.com">Instagram</a></li>
          <li><a href="https://twitter.com">Twitter</a></li>
        </ul>
        <p>Consultoria Contable Jose Marmol</p>
        <p>Direccion 1234, Jose Marmol, Buenos Aires - <i class="fas fa-mobile-alt"></i> / <a href="https://api.whatsapp.com/send?phone=5491121834859"><i class="fab fa-whatsapp">: 11-2183-4859</i></a></p>
      </div>
      <p>Diseño Web: juanm.medina@yahoo.com.ar</p>
    </div>
  </footer>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/6d31d90b57.js" crossorigin="anonymous"></script>
</body>

</html>