<div class="b-example-divider"></div>

<div class="container my-4">
    <div class="row">
        <div class="col-5">
            <div class="titulo my-5">
                <h2>NUESTRO MODELO DE TRABAJO</h2>
            </div>

            <div class="subtitulo">
                <h4>Sus contadores de confianza</h4>
            </div>
            <br>
            <p> En cjm ofrecemos servicios contables y fiscales personalizados en Ciudad de xxxxx desde el año 2xxx. Contamos
                con un equipo de contadores certificados que añaden a su experiencia, los conocimientos y el trato necesarios
                para ocuparse de su gestión contable. Cómo especialistas en asesoría fiscal y contable, podemos gestionar
                cualquier trabajo que nos encomiende.
            </p>
        </div>
        <div class="col-7">
            <img src="./images/nosotros.jpg" class="img-fluid"alt="">
        </div>
    </div>
</div>